<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="functional">
            <file>tests/functional/TemplateEngineResolverTest.php</file>
            <file>tests/functional/ViewPresenterTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>